.blogs-main {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

.blogs-container {
    background-color: #f3f3f3;
    border-bottom: 1px solid rgb(250,250,250);
    padding:17rem 8rem 10rem 8rem;
    font-family: "Krug", sans-serif !important;

}

.blogs-header {
    margin-bottom:4rem;
    font-size:4rem;
}

.blog-upcoming {
    font-size:6rem;
    font-weight: 300;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .blogs-main {
        display: grid;
        gap: 0px;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 800px) {
    .blogs-main {
        display: grid;
        gap: 0px;
        grid-template-columns: repeat(1, 1fr);
    }

}

@media only screen and (max-width: 600px) {
    .blogs-container {
        padding:17rem 5rem 10rem 5rem;
    }

}

@media only screen and (max-width: 450px) {
    .blogs-container {
        padding:17rem 2rem 10rem 2rem;
    }

}