.contact-form {
    text-align: center;
    justify-content: center;
    margin-bottom:6rem;
    background-color: #f3f3f3;
    box-shadow: 20px 20px 50px rgba(154, 154, 154, 0.4);
    width: 50%;
    margin-left:10%;
    padding:4rem 0rem 5rem 0rem;
    border-radius: 10px;
    z-index: 999 !important;
    border-top-right-radius: 0px;
}
.contact-header {
    margin-bottom: 8rem;
}
.contact-form-item {
    display: block;
    width: 70%;
    margin-left:15%;
    font-size: 2rem;
    text-align: left;
    font-weight:400;
    margin-bottom:1rem;
    color:#212529;
}

.name-input, .email-input, .message-input {
    margin-bottom:2.5rem;
    background:none;
    border:none;
    border-bottom:1px solid rgb(40,40,40);
padding-left:1rem;
padding-bottom:0.3rem;
height:4rem;
border-radius: 5px;
color:#212529;
font-size:1.5rem;

}

.contact-form input::placeholder, .contact-form textarea::placeholder{
    font-size:1.5rem;
}

.contact-form textarea {
    padding-top:0.5rem;
    margin-bottom:5rem;
    
}

.name-input:focus, .email-input:focus, .message-input:focus {
    outline:none;
}
#alrt {
    display: none;
}

.message-input {
    height:15rem;
}

.contact-form-btn {
    width:20%;
    margin-left:40%;
    background-color:rgb(107, 107, 147);
    border:none;
    color:white;
    border-radius:30px;
    padding: 0.8rem 0rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease-in-out;
    text-align: center;
}

.contact-form-btn:hover {
   transform: translateY(-3px);
   background-color:#B9D9EB;
}

.contact-form-div {
    position: relative;
}

.contact-form-header {
    font-size:5rem;
    font-weight:400;
    margin-bottom:4rem;
}

.contact-form-div {
    display: flex;
  
}

.contact-form-banner {
    padding:3rem 3rem;
    background-color: #a0c0d2;
    text-align: left;
border-radius: 20px;
z-index:0;
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
color:white;
height:40rem;
box-shadow: 0px 8px 15px rgba(195, 195, 195, 0.5);

}
.contact-banner-name {
    font-weight:500;
    font-size:3rem;
    margin-bottom:2rem;
    text-align: center;
        padding-bottom:1rem;
}

.contact-banner-ps {
    display: block;
}

.contact-banner-p-2 {
    font-size:1.8rem;
    font-weight:300;
}

.contact-banner-check {
    display: flex;
    margin:1.5rem 0rem;
}
.contact-banner-icon {
    margin-right:2rem;
    font-size:2.9rem;
    color:white;
}
.contact-banner-p {
    font-size:1.8rem;
    font-weight:400;
}

.contact-banner-line {
    width:40px;
}



