.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    width:100%;
    transition:0.3s all ease !important;
    height:150px;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
}

#navbar {
    transition:0.3s all ease !important;

}

#brand-img {
    transition:0.35s all ease !important;

}

#nav-brand-img {
    width:75px;
    transition: 0.35s all ease !important;
}

#brand-img:hover {
    cursor:pointer;
}

.nav-menu {
    position: fixed;
    right: 100%;
    flex-direction: column;
    background-color: rgb(245,245,245);
    width: 40vw;
    height:100vh;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    top:0;
    padding-top:10rem;
    padding-left:0rem;
}

.nav-menu.active {
    right: 0%;
    top:0;
    margin-top:2.5rem;
    border-top:1px solid rgb(230,230,230);
}

.nav-item {
    margin-left: 5rem;
    transition:0.2s all ease;
    display: inline;
    
}

.nav-link:hover {
    text-decoration: underline !important;
}

.nav-link{
    font-size: 3rem !important;
    font-weight: 500 !important;
    margin: 2rem 1rem;
    transition:0.2s all ease;
}

.nav-link:hover{
    color: rgb(100, 100, 100) !important;
}
.nav-menu-header {
    color: rgb(170, 170, 170) !important;
}

.nav-logo {
    color: black;
    display:flex;
}


.brand-img {
    width:75px;
    margin: 0rem 0rem 0rem 8rem;
    transition:0.2s all ease;
}


.dropdown {
    background:none !important;
    border:none !important;
    font-size:1.6rem !important;
    font-weight: 400 !important;
    color:inherit !important;
}
.dropdown:hover {
    color: rgb(100, 100,100) !important;
}
.dropdown:hover > .dropdown-caret  {
    color:rgb(100,100,100);
}


.dropdown-div:focus {
    outline: none !important;
    border:none !important;
    color:black !important;
}


.btn:active:focus {
    box-shadow:none !important;

}
.btn:focus {
    box-shadow:none !important;
}
.dropdown-link {
    font-size:1.5rem;
    padding: 2rem 3rem !important;
    text-align: center !important;
    font-weight: 300 !important;
    transition:0.2s all ease !important;
    text-decoration: none !important;
}

.dropdown-a {
    text-decoration: none !important;
}

.dropdown-link:hover {
    background: #dadada !important;
}
.dropdown-menu {
    border:none !important;
    box-shadow: 0px 8px 15px rgba(200, 200, 200, 0.2);
    background:rgba(240,240,240,1) !important;
    padding:0 !important;
    overflow: hidden;
}

.divider {
    background-color: rgba(255,255,255, 1) !important;
    margin:0 !important;
    padding:0;
}

.dropdown-caret  {
    color:rgb(40,40,40);
    margin-left:0.5rem;
    transition:0.2s all ease;
}

.dropdown-menu-link {
    color:black;
    text-decoration: none;
    border-radius:20px;
}

.hamburger-btn {
    font-size:3rem;
    display: block !important;
    margin:0.3rem 2rem 0rem 4rem;
    z-index:999999;
    transition:0.3s ease all;
    
}
.hamburger-btn:hover {
    cursor: pointer;
}
.nav-contact-btn {
    background: black;
    color:white;
    box-shadow: 1px 8px 20px rgba(200,200,200,0.8);
    border-radius: 40px;
    border:1px solid white;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    margin-left:6rem;
    transition:0.3s ease all;
}

.nav-contact-btn:hover {
    background: white;
    color:black;
    transform:translateY(-2px);
}
.nav-buttons {
    display: flex;
}

.nav-lang-btn {
    background:none;
    color:black;
    border:none;
}

.nav-item {
    margin: 5rem 0rem !important;
}

.dropdown-contact-btn {
    display: none;
}

  
@media only screen and (max-width: 870px) {
    .navbar {
        padding: 0rem 2rem !important;
    }

    .brand-img {
        margin: 0rem;
    }

    .hamburger-btn {
        margin-right:0rem;
    }

}

@media only screen and (max-width: 600px) {
    .nav-contact-btn, .nav-lang-btn {
        display: none !important;
    }
    .dropdown-contact-btn {
        display: none;
    }
}

