.portfolio-container {
    padding-top:14rem;
    height:auto;
    text-align: center;
    padding: 0rem 4rem 0rem 4rem !important;
    margin-bottom:10rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.portfolio-container h6 {
    position: absolute;
    top: 120px;
    left: 20px;
    font-weight: 100;
    font-size: 2rem;
    text-transform: uppercase;
}
.portfolio-container h1 {
    font-size: 4.5rem;
    width: 80%;
}

.portfolio-grid-container {
    padding: 0rem 2rem;
    padding-bottom: 200px;
}

.portfolio-grid-container > h2 {
    font-size: 3rem;
    letter-spacing: -0.1vw;
    margin-bottom: 4rem;
    
}
.portfolio-grid {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    display: flex;
    margin-bottom: 10rem;
    justify-content: center;
    align-content: center;
    gap:20px;

}

.portfolio-grid div {
    border: 1px solid rgb(230, 230, 230);
    justify-content: center;
    display: flex;
    height: 200px;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: -0.05vw;
    font-size: 2rem;
    position: relative;
    width: 200px;
    transition: 0.2s ease all;
    box-shadow: 1px 1px 12px rgba(200, 200, 200, 0.3);
}

.portfolio-grid div:hover {
    background-color: rgb(217, 215, 215);
}


.portfolio-grid div img {
    height: 110px;
}
.portfolio-grid div:first-of-type img, .portfolio-grid div:nth-of-type(3) img {
    height: 140px;
}

.background {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff; /* Dark background */
    overflow: hidden;
  }
  

.tag {
    position: absolute;
    top: 10px;
    right: 10px;
    /* border: 1px solid black; */
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    font-size:1.5rem;
    background-color: rgb(148, 191, 255);
    color: black;
    font-weight: 700;
    text-transform: none;
}



  .arrow-container {
    text-align: center;
    justify-content: center;
  }
  
  .portfolio-arrow {
      position: absolute;
      bottom:50px;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem;
      animation:bounce 2s infinite;
      margin:0 auto;
      justify-content: center;
      text-align: center;
  }
  @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Initial and final position (no vertical movement) */
      }
      40% {
        transform: translateY(-30px); /* Bounce up */
      }
      60% {
        transform: translateY(-15px); /* Bounce down slightly */
      }
    }
  




























.portfolio-headers {
    margin:6rem 10rem 10rem 10rem;
}
.portfolio-header {
    font-size:4rem;
    margin-bottom:2rem;
    text-align: left;
}

.portfolio-subheader {
        margin-bottom:6rem;
        font-size:2rem;
        font-weight: 300;
        color: rgb(100, 100, 100);
        text-align: left;
}
/* .portfolio-grid {
    display: grid;
    gap:50px;
    grid-template-columns: repeat(2,1fr);
} */
.portfolio-img-container {
    /* background-image: url('/goldshield-logo.webp');
    background-size: contain;
    background-position: center right 100px;
    height:10rem;
    width:10rem; */
    justify-content: right;
    text-align: right;
 
}
.portfolio-graphic-container {
    margin-bottom:2rem;
    height:350px;
    box-shadow: 1px 1px 12px rgba(0,0,0,.2);
    border-radius: 20px;
    overflow: hidden;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}


.portfolio-item {
    display: grid;
    border-radius: 20px;
    padding:4rem 6rem;
    transition:0.2s ease;
    cursor:pointer;
    box-shadow: 1px 5px 12px rgba(200,200,200,0.8);
    margin:0rem 2rem;
}

.in-development {
   position:relative
}

.in-dev-container {
    display: flex;
    border:1px solid black;
    border-radius:20px;
    padding:0.5rem 0rem;
    text-align: center;
    justify-content: center;
    background-color: black;
}

.in-dev-dot {
    font-size:3rem;
    color:red;
    margin:0;
    padding: 0;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-right:1rem;

}

.in-dev-text {
    font-size:2rem;
    margin:0;
    text-transform: uppercase;
    color:white;
}

@keyframes blink {
    0% {
      opacity:1;
    }
    50% {
        opacity:0;    
    }
    100% {
        opacity:1;    
    }
  }

.portfolio-item:hover {
    transform:scale(1.02);
}

.portfolio-text-container {
    text-align: left;
    margin-bottom:2rem;
}

.goldshield-portfolio {
    background-color: transparent;
    color:black;
}

.portfolio-text-header {
    font-size:3.5rem;
    font-weight:600;
}

.portfolio-item-img {
    width: 30%;
    margin-bottom:2rem !important;
    text-align: right;
}


.portfolio-item-graphic {
    width:100%;
    border-radius:10px;
    /* box-shadow: 1px 1px 24px rgba(0,0,0,1); */
    /* min-height:300px; */
}

.portfolio-text-content {
    font-size:1.8rem;
    font-weight:300;
}

.portfolio-item-btn {
    background:none;
    color:black;
    border:none;
    font-size:1.4rem;
    text-align: left;
    transition:0.2s ease;
}

.portfolio-item-btn:hover {
    font-size:1.5rem;
}

.portfolio-btn-div {
    text-align:left;
}

.portfolio-horizontal-line {
    width:20%;
    color:black;
    margin-bottom:3rem;
}
.portfolio-top-horizontal {
    width:20%;
    color:rgb(0, 0, 0);
    margin-bottom:3rem;
}

.portfolio-link {
    display: flex;
    text-decoration: none !important;
}
@media only screen and (max-width: 850px) {
    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .portfolio-headers {
        margin:6rem 4rem 10rem 4rem;
    }
    .portfolio-item {
        margin-bottom:4rem;
    }
}

@media only screen and (max-width: 500px) {
    .portfolio-headers {
        margin:3rem 1rem 10rem 1rem;
    }
    .portfolio-item {
        padding: 4rem 2rem;
        margin:0rem 0.5rem;
        margin-bottom:4rem;
    }
    .portfolio-container {
        padding: 14rem 1rem 0rem 1rem !important;
    }


}
