.portfolio-container {
    padding-top:14rem;
    height:auto;
    text-align: center;
    padding: 14rem 4rem 0rem 4rem !important;
    margin-bottom:10rem;
}

.portfolio-headers {
    margin:6rem 10rem 10rem 10rem;
}
.portfolio-header {
    font-size:4rem;
    margin-bottom:2rem;
    text-align: left;
}

.portfolio-subheader {
        margin-bottom:6rem;
        font-size:2rem;
        font-weight: 300;
        color: rgb(100, 100, 100);
        text-align: left;
}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.portfolio-img-container {
    /* background-image: url('/goldshield-logo.webp');
    background-size: contain;
    background-position: center right 100px;
    height:10rem;
    width:10rem; */
    justify-content: right;
    text-align: right;
}


.portfolio-item {
    display: grid;
    border-radius: 20px;
    padding:4rem 6rem;
    transition:0.2s ease;
    cursor:pointer;
    box-shadow: 1px 5px 12px rgba(200,200,200,0.8);
    margin:0rem 2rem;
}

.in-development {
   position:relative
}

.in-dev-container {
    display: flex;
    border:1px solid black;
    border-radius:20px;
    padding:0.5rem 0rem;
    text-align: center;
    justify-content: center;
    background-color: black;
}

.in-dev-dot {
    font-size:3rem;
    color:red;
    margin:0;
    padding: 0;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-right:1rem;

}

.in-dev-text {
    font-size:2rem;
    margin:0;
    text-transform: uppercase;
    color:white;
}

@keyframes blink {
    0% {
      opacity:1;
    }
    50% {
        opacity:0;    
    }
    100% {
        opacity:1;    
    }
  }

.portfolio-item:hover {
    transform:scale(1.02);
}

.portfolio-text-container {
    text-align: left;
    margin-bottom:2rem;
}

.goldshield-portfolio {
    background-color: black;
    color:white;
}

.portfolio-text-header {
    font-size:2.5rem;
    font-weight:600;
}

.portfolio-item-img {
    width: 15%;
    margin-bottom:2rem !important;
    text-align: right;
}

.portfolio-graphic-container {
    margin-bottom:2rem;
}

.portfolio-item-graphic {
    width:75%;
    border-radius:10px;
}

.portfolio-text-content {
    font-size:1.8rem;
    font-weight:300;
}

.portfolio-item-btn {
    background:none;
    color:white;
    border:none;
    font-size:1.4rem;
    text-align: left;
    transition:0.2s ease;
}

.portfolio-item-btn:hover {
    font-size:1.5rem;
}

.portfolio-btn-div {
    text-align:left;
}

.portfolio-horizontal-line {
    width:20%;
    color:white;
    margin-bottom:3rem;
}
.portfolio-top-horizontal {
    width:20%;
    color:rgb(0, 0, 0);
    margin-bottom:3rem;
}

@media only screen and (max-width: 850px) {
    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .portfolio-headers {
        margin:6rem 4rem 10rem 4rem;
    }
    .portfolio-item {
        margin-bottom:4rem;
    }
}

@media only screen and (max-width: 500px) {
    .portfolio-headers {
        margin:3rem 1rem 10rem 1rem;
    }
    .portfolio-item {
        padding: 4rem 2rem;
        margin:0rem 0.5rem;
        margin-bottom:4rem;
    }
    .portfolio-container {
        padding: 14rem 1rem 0rem 1rem !important;
    }


}
