@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #f3f3f3;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}



.header{
    border-bottom: 1px solid #E2E8F0;
}

.row {
    width:100%;
    margin:0 !important;
}






/* */


.container-fluid {
    color:rgb(40,40,40);
    height:100vh;
    background: #f3f3f3;
    border-bottom: 1px solid rgb(250, 250, 250);
    font-family: 'Montserrat', sans-serif !important;
    overflow: hidden;
    font-weight:400;
    letter-spacing:-.04vw;

}




.container-header {
    font-size:7rem !important;
    padding-left:5rem !important;
    margin-bottom: 8rem;
    font-weight:400;
    padding-top:1rem;
    letter-spacing: -.3vw;
}


@media only screen and (max-width: 1000px) {
    .container-header {
        font-size:6rem !important;

    }

}

@media only screen and (max-width: 6000px) {
    .container-header {
        padding-left:2rem !important;
    }

}
 
 

/* */

.landing-container {
    padding:140px 5rem 0rem 10rem !important;
    width:100%;
    height:100vh;
    background: linear-gradient(45deg, #f3f3f3 0%, #f3f3f3 70%, rgba(185, 217, 235, 0.4) 70%, rgba(185, 217, 235, 0.4) 80%, #f3f3f3 80%, #f3f3f3 85%, rgba(107, 107, 147,0.4) 85%, rgba(107, 107, 147, 0.4) 95%,#f3f3f3 95%);
    transition:0.3s ease;
}

.landing-row {
    padding-top:8.5rem;
    width:100%;
}

.landing-header {
    font-size: 10rem;
    margin-bottom:10rem;
    word-spacing:-0.3vw;
    z-index:99;
    font-stretch: narrower;
    letter-spacing: -.5vw;
    transition:0.3s ease;
    font-weight: 400 !important;
}

.landing-subheader {
    color:rgb(185, 185, 185);
    font-size:3rem;
    font-weight:400;
    margin-bottom:2rem !important;
    z-index:99 !important;

}

.landing-subheader-mobile, .landing-header-mobile {
    display: none;
}

.landing-subheader-mobile {
    color:rgb(185, 185, 185);
    font-size:3rem;
    font-weight:300;
    margin-bottom:2rem !important;
    z-index:99 !important;
}
.landing-header-mobile {
    font-size: 11rem;
    margin-bottom:10rem;
    word-spacing:-0.3vw;
    z-index:99;
    font-stretch: narrower;
    letter-spacing: -.1vw;
    transition:0.3s ease;
    font-weight:500;
}


.landing-btn {
    padding: 1rem 2rem;
    font-size:2rem;
    border:none;
    color:white;
    border-radius:5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition:0.2s all ease;
    z-index:999 !important;
    font-weight: 400;

}

.launch-btn {
    background:#B9D9EB;
    margin-right:1rem;
}

.launch-btn:hover {
    cursor:pointer;
    background:rgb(107, 107, 147);
    box-shadow: 0px 15px 20px rgba(65, 220, 255, 0.25);
    color: #fff;
    transform: translateY(-5px);
}

.learn-btn {
    background:rgb(107, 107, 147);
}

.learn-btn:hover {
    cursor:pointer;
    background:#B9D9EB;
    box-shadow: 0px 15px 20px rgba(62, 27, 160, 0.25);
    color: #fff;
    transform: translateY(-5px);
}


.threedee {
    transform: rotateX(0deg) rotateZ(0deg);
    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01), 28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow;
    width:200px !important;
    height:200px !important;
    position: absolute;
    z-index:0 !important;
}




  @media only screen and (max-width: 1100px) {
   .landing-container {
    text-align: left !important;
    padding: 14rem 5rem  0rem 5rem !important;
   }


   .landing-header {
    line-height: 12vh;
    font-size: 9rem;
    margin-bottom:10rem;
   }

   .landing-subheader {
    margin-bottom: 3rem !important;
   }
}



@media only screen and (max-width: 600px) {
    .landing-container {
     text-align: left !important;
     padding: 10rem 2rem 5rem 2rem !important;
    }

    .launch-btn {
        margin-bottom:2rem !important;
    }
 }

 @media only screen and (max-width: 480px) {
    .landing-container {
     text-align: center!important;
     padding: 8rem 0rem 5rem 0rem !important;
    }
    .landing-header {
        display: none;
    }
    .landing-subheader {
display: none;
    }
    
    .landing-subheader-mobile, .landing-header-mobile {
        display:block;
       
    }
    .landing-header-mobile {
        line-height: 10vh;
        font-size: 6rem;
        margin-bottom:6rem;
    }

 }

 @media only screen and (max-width: 352px) {
    .landing-container {
     height:110vh;
    }


 }





/* About */

.about-container {
    height:auto;
}
.about-header {
    margin-bottom:6rem;
}
.about-content-div {
    justify-content: center;
    width:100%;
    display: flex;
    position: relative;
    text-align: center;
    padding:0rem 8rem !important;
}

.about-content-text-div {
    width: 60%;
}
.about-imgs-div {
    width:40%;
}
.about-brand-img {
    width:20%;
    position: absolute;
    top:70px;
    left:80px;
}

.about-content-header {
    font-size:3.5rem;
    margin-bottom:2rem;
    font-weight:500;
}

.about-content-cards {
    display: flex;
    margin-bottom: 6rem;
}

.about-content-p {
    font-size:1.7rem;
    padding:0rem 3rem;
    color:rgb(70,70,70);
}

.about-content-card-icon {
    font-size:3rem;
    margin:0rem 0rem 1rem 0rem;
}
.about-content-card {
    width:33%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: rgb(245, 245, 245);
    margin:0rem 1rem;
    padding:2rem;
    border-radius:10px;
}

.about-content-card-icon {
    color:#B9D9EB;
    box-shadow: #B9D9EB 0px 2px 6px;
        padding: 1rem;
    background-color: white;
    border-radius: 50%;

}

.about-content-card-header {
    font-size:3rem;
    margin-bottom:2rem;
}

.about-content-card-p {
    font-size:1.5rem;
    margin-bottom:2rem;
    padding:0rem 1rem;
    text-align: center;
    color:rgb(60,60,60);
}
.about-content-line {
    width:20%;
    margin:4rem 0rem 8rem 40%; 

}

.rocket-icon {
    transform:rotate(-45deg)
}


@media only screen and (max-width: 1100px) {
    .about-container {
        padding-top:3rem !important;
    }
    .about-content-text-div {
        width: 100%;
    }
    .about-imgs-div {
        width:30%;
    }
    .about-content-div {
        padding: 0rem 4rem !important;
        display: block;
    }
 
    .about-brand-img {
        display: none;
    }
    .about-content-card {
        padding:2rem 1rem;
    }
 }

 @media only screen and (max-width: 600px) {
    .about-content-cards {
        display: block;
        text-align: center !important;
        justify-content: center  !important;
        margin-bottom: 6rem;
        padding:0rem 4rem !important;
        
    }
    .about-content-card {
        width:100%;
        margin:0rem 0rem 2rem 0rem !important;
    }
    .about-container {
        height:auto !important;
    
    }
 
 }

 @media only screen and (max-width: 400px) {
    .about-content-cards {

        padding:0rem 1rem !important;
        
    }

 
 }
 

/* */

.work-container {
    height: 100vh !important;
}

.work-row {
    text-align: center;
    justify-content: center;
    margin-bottom: 15rem !important;

}

.work-header {
    text-align: left;
    margin-bottom:20rem;
}
.hello {
    transform: translate3d(0px, -16px, 0px) rotateX(40deg) rotateZ(43deg);    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.15), 28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition: 0.4s ease-in-out transform, 0.4s ease-in-out box-shadow, 0.4s ease-in-out background-color, 0.4s ease-in-out height, 0.4s ease-in-out width, 0.4s ease-in-out display, 0.4s ease-in-out text-align, 0.4s ease-in-out padding;
    width:265px !important;
    height: 265px !important;
    margin:0rem 0rem;
    text-align: left;
    overflow: hidden;
    
}

.hello:hover {
    transform: rotateX(0deg) rotateZ(0deg);
    transform: scale(1.5) translate(0px, -40px);
    height:350px !important;
    width:400px !important;
    box-shadow: 1px 1px 0 1px #f9f9fb, -1px 0 28px 0 rgba(34, 33, 81, 0.01), 54px 54px 28px -10px rgba(34, 33, 81, 0.15);
    z-index:999;
    margin:0rem 0rem;
    background-color: rgb(240, 240, 240);
    cursor: pointer;
    padding: 4rem;
}





.hello-img {
    width:245px;
    border-radius: 20px !important;
   margin:1rem 2rem 1rem 0.3rem;
    transition: 0.5s ease-in-out border-radius, 0.4s ease-in-out height, 0.4s ease-in-out width, 0.4s ease-in-out text-align;
}
.hello:hover .hello-img {
    width:100px !important;
    border:1px solid rgb(255,255,255) !important;
    margin: 0rem;
    margin-right:1rem;
    margin-bottom:2rem;
}

.hello-img-div {
    display: flex;
}

.hello-link-div {
    text-align: center !important;
}


.hello:hover + .test {display:block;}

.hello-name {
    padding-top:3rem;
    letter-spacing: -.15vw;
    font-size:2rem;
}

.hello-p {
    line-height:3vh;
    margin-bottom:3rem;
}



.website-icon {
    background:#ffffff;
    box-shadow:1px 5px 8px rgba(0,0,0,0.1);
    padding:1rem;
    border-radius:20px;
    color:rgb(40,40,40);
    transition:0.3s ease-in-out;
    

}


.website-icon:hover {
    background:rgb(40,40,40);
    box-shadow:1px 5px 8px rgba(255,255,255,1);
    color:rgb(250,250,250);
    border:1px solid rgb(250,250,250);
}


@media only screen and (max-width: 900px) {
    .work-container {
        height:120vh !important;
    }

}

@media only screen and (max-width: 700px) {
    .hello:hover {
        width:305px !important;
        height:405px !important;
    }

}
@media only screen and (max-width: 600px) {
    .work-container {
        height:140vh !important;
    }
    .hello:hover {
        height:450px !important;
    }
  
    .hello-img-div{
        display: block;
        text-align: center;
    }
    .hello-industry {
        margin-bottom:2rem !important;
    }
    .hello-p {
        text-align: center;
    }

    .hello-img {
        margin-left:0rem !important;
        margin-right:0rem !important;
    }
    .hello-name {
      padding-top:0rem !important;  
    }
    
}



@media only screen and (max-width: 500px) {

    .work-container {
        height:auto !important;
    }

    .hello:hover {
        width:250px !important;
        height: 500px !important;
    }

    
}


@media only screen and (max-width: 400px) {


    .hello:hover {
        width:200px !important;
        height: 600px !important;
    }
    .hello {
        width:200px !important;
        height:200px !important;

    }
    .hello img {
        width:180px !important;
        height:180px !important;
    }
    .hello:hover .hello-img {
        width:100px !important;
        height:100px !important;
    }
    
}




/* Services  */

.services-container {
    height:auto !important;
}

.service-cards {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10rem;
}
.service-card {
    width:25%;
    border:1px solid white;
    margin: 0rem 5rem;
    border-radius:20px;
    padding: 5rem 2rem 5rem 2rem;
    box-shadow: 1px 3px 5px rgba(200, 200, 200, 0.2);
    position: relative;
    overflow: hidden;
    transition: all .4s ease-in;
    color:white;
}
.service-card-1 {
    background-color: rgb(140, 140, 170);
    margin-bottom:3rem;
}

.service-card-2 {
    margin-top:3rem;
    background-color: #7fa4ba;

}

.service-description {
    font-weight:400;
    font-size:1.5rem;
    padding:0rem 2rem;
}


.service-icon {
    margin-bottom: 2rem;
    padding:2rem;
    background: none;
    border-radius: 50%;
    font-size:4rem;
    border:1px solid rgb(245, 245, 245);
    color:white;
    transition: all 0.4s ease;

}
.code-icon {
    padding: 2.3rem 2rem;
}

.service-name {
    font-size:4rem;
    font-weight:300;
    margin-bottom: 3rem;
}

@media only screen and (max-width: 1200px) {
  
    .service-card {
        width:35%;
    }
}

@media only screen and (max-width: 1000px) {
  
    .service-card {
        width:45%;
    }
}

@media only screen and (max-width: 850px) {
  
    .service-card {
        width:50%;
    }
}
@media only screen and (max-width: 768px) {
    .service-cards {
        display: block;
        justify-content: center !important;
        text-align: center !important;
        padding: 0rem 6rem !important;
    }
    .service-card {
        width:100%;
        justify-content: center !important;
        border:1px solid white;
        margin: 2rem 0rem 2rem 0rem; 
        border-radius:20px;
        padding: 5rem 2rem 5rem 2rem;
        box-shadow: 1px 3px 5px rgba(200, 200, 200, 0.2);
        position: relative;
        overflow: hidden;
        transition: all .4s ease-in;
    }
}

@media only screen and (max-width: 500px) {
    .service-cards {
        display: block;
        justify-content: center !important;
        text-align: center !important;
        padding: 0rem 3rem !important;
    }
    

}

/* Contact Form */

.contact-container {
   
    color:black;
    height:auto;
}

.contact-header {
    font-size:3rem;
    text-align: left;
    margin-bottom:15rem;
}













/* Blog */

.blog-container {
    height:auto !important;
}

.blog-row {
    display: flex;
    justify-content: center;
    margin:0 !important;
}

.home-blog {
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(3, 1fr);
        padding:0rem 5rem !important;
        margin-bottom:3rem;
}


.blog-header {
    font-size:3rem;
    font-weight: 500;
    margin-bottom:1.5rem;
    line-height:3.2rem;

}


.blog-link {
    color:white;
    text-decoration: none !important;
    font-size:1.5rem;
    background:rgb(107, 107, 147);
    border: none;
    font-weight: 200;
    border-radius: 30px;
    padding:1rem 2.1rem 1rem 2rem;
    box-shadow: 0px 8px 15px rgba(200, 200, 200, 0.3);
    transition:0.3s ease;
}


.blog-link:hover {
    cursor:pointer;
        background:#B9D9EB;
        box-shadow: 0px 15px 20px rgba(96, 74, 153, 0.55);
        color: #fff;
        transform: translateY(-2px);
}

.see-more-row {
    width:100%;
    text-align: center;
    padding:0rem 8rem;
    margin-bottom: 6rem;
}






@media only screen and (max-width: 1200px) {
    .home-blog {
        padding: 0rem 3rem !important;
        gap: 0px;
    }
   
}

@media only screen and (max-width: 1000px) {

    .blog-container {
        height:auto !important;

    }

   
}

@media only screen and (max-width: 875px) {

    .home-blog {
        display: block !important;
    }
   
}

@media only screen and (max-width: 500px) {

    .home-blog {
        padding: 0rem 1rem !important;
    }
   
}